<!-- Navigation bar -->
<app-header></app-header>

<!-- Hero Section -->
<header class="text-white py-20 text-center" style="background-color: #161616">
  <div class="container mx-auto">
    <h1 class="text-4xl md:text-5xl font-semibold mb-4">
      Discover Your Next Book
    </h1>
    <p class="text-lg md:text-xl mb-8">
      Find the perfect book from our wide selection of genres.
    </p>
  </div>
</header>

<!-- Featured Books Section Limited To 12 In Component -->
<section class="py-12 bg-gray-200">
  <div class="container mx-auto">
    <h2 class="text-2xl md:text-3xl font-semibold mb-4">Featured Books</h2>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
    >
      <div *ngFor="let book of books1">
        <div
          class="hover:shadow-2xl hover:border-yellow-500 border-4 ease-in-out duration-300"
        >
          <app-product-card
            title="{{ book.title }}"
            description="{{ book.description }}"
            author="{{ book.author }}"
            category="{{ book.category }}"
            [backgroundImageUrl]="book.image"
            (addToCart)="addToCart($event)"
          ></app-product-card>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Book Categories Section -->
<section class="py-12 text-white" style="background-color: #161616">
  <div class="container mx-auto">
    <h2 class="text-2xl md:text-3xl font-semibold mb-4">Popular Categories</h2>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
    >
      <app-section-card
        section="Thriller"
        [backgroundImageUrl]="
          'https://images.unsplash.com/photo-1507415492521-917f60c93bfe?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60'
        "
      ></app-section-card>
      <app-section-card
        section="Horror"
        [backgroundImageUrl]="
          'https://images.unsplash.com/photo-1644727036086-896b19d7d565?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60'
        "
      ></app-section-card>
      <app-section-card
        section="Fiction"
        [backgroundImageUrl]="
          'https://images.unsplash.com/photo-1584385002340-d886f3a0f097?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60'
        "
      ></app-section-card>
      <app-section-card
        section="History"
        [backgroundImageUrl]="
          'https://images.unsplash.com/photo-1526559881144-9df4bf3eb37a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDR8fGhpc3Rvcnl8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60'
        "
      ></app-section-card>
    </div>
  </div>
</section>

<!-- The Rest Of Featured Books Section -->
<section class="py-12 bg-gray-200">
  <div class="container mx-auto">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
    >
      <div *ngFor="let book of books2">
        <div
          class="hover:shadow-2xl hover:border-yellow-500 border-4 ease-in-out duration-300"
        >
          <app-product-card
            title="{{ book.title }}"
            description="{{ book.description }}"
            author="{{ book.author }}"
            category="{{ book.category }}"
            [backgroundImageUrl]="book.image"
          ></app-product-card>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<app-footer></app-footer>
