<!-- Navigation bar -->
<app-header></app-header>

<div
  class="min-w-screen min-h-screen bg-gray-200 flex items-center p-5 lg:p-10 overflow-hidden relative"
>
  <div
    class="w-full max-w-6xl rounded bg-white shadow-xl p-10 lg:p-20 mx-auto text-gray-800 relative md:text-left"
  >
    <div class="md:flex items-center -mx-10">
      <div class="w-full md:w-1/2 px-10 mb-10 md:mb-0">
        <div class="relative">
          <img src="{{ details.image }}" class="w-full relative z-10" alt="" />
          <div class="absolute top-10 bottom-10 left-10 right-10 z-0"></div>
        </div>
      </div>
      <div class="w-full md:w-1/2 px-10">
        <div class="mb-10">
          <h1 class="font-bold uppercase text-2xl">{{ details.title }}</h1>
          <h4 class="font-bold uppercase"><br />{{ details.author }}</h4>
          <h6 class="-mt-3 uppercase mb-5"><br />{{ details.category }}</h6>
          <p class="text-sm">{{ details.description }}</p>
        </div>
        <div>
          <div class="inline-block align-bottom mr-5">
            <span class="text-2xl leading-none align-baseline">&#8377;</span>
            <span class="font-bold text-5xl leading-none align-baseline">{{
              details.price
            }}</span>
          </div>
          <div
            *ngIf="!alreadyInCart; else elseBlock"
            class="inline-block align-bottom"
          >
            <button
              class="bg-yellow-500 text-white hover:bg-indigo-500 rounded-full px-10 py-2 font-semibold"
              (click)="addToCart()"
            >
              Add to cart
            </button>
          </div>
          <ng-template #elseBlock>
            <button
              class="bg-yellow-500 text-white hover:bg-indigo-500 rounded-full px-10 py-2 font-semibold"
              [routerLink]="['/cart']"
            >
              Go to Cart
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<app-footer></app-footer>
