<div
  class="flex justify-center items-center cursor-pointer"
  [routerLink]="['/book', title]"
>
  <div
    class="flex flex-col justify-between w-72 sm:w-96 h-96 bg-white bg-center text-gray-800 overflow-hidden"
    [style.backgroundImage]="'url(' + backgroundImageUrl + ')'"
    style="background-repeat: no-repeat; background-size: cover"
  >
    <div class="flex justify-between items-center ml-4 pr-8">
      <div
        class="bg-indigo-500 text-white bg-opacity-95 shadow px-2 py-1 flex items-center font-bold text-xs rounded"
      >
        {{ category || "Unknown" }}
      </div>
      <!-- <div
        class="bg-indigo-500 text-white -ml-32 bg-opacity-95 shadow px-2 py-1 flex items-center font-bold text-xs rounded"
      >
        &#8377; {{ cost }}
      </div> -->
      <div
        class="bg-yellow-500 w-10 h-12 shadow flex flex-col-reverse p-2 text-center font-bold text-white rounded-b-full cursor-pointer hover:bg-gray-900"
        *ngIf="!alreadyInCart; else elseBlock"
        (click)="addBook(title); $event.stopPropagation()"
      >
        <fa-icon [icon]="add"></fa-icon>
      </div>
      <ng-template #elseBlock>
        <div
          class="bg-yellow-500 w-10 h-12 shadow flex flex-col-reverse p-2 text-center font-bold text-white rounded-b-full cursor-pointer hover:bg-gray-900"
        >
          <fa-icon [icon]="check"></fa-icon>
        </div>
      </ng-template>
    </div>
    <div class="bg-white bg-opacity-95 p-4 flex flex-col mr-4 mb-8">
      <h3 class="truncate text-xl font-bold pb-2">
        {{ title || "unknown title" }}
      </h3>
      <!-- <p
        class="truncate text-gray-500 text-sm"
        appTruncateText
        [maxCharacters]="80"
      > -->
      <p class="truncate text-gray-500 text-sm">
        {{ description || "unknown description" }}
      </p>
      <span class="text-indigo-500 text-xs">{{
        author || "unknown author"
      }}</span>
    </div>
  </div>
</div>
