<div
  class="lg:flex w-full h-full hidden bg-gray-500 bg-no-repeat bg-cover relative items-center"
  style="
    background-image: url(https://images.unsplash.com/photo-1614849963640-9cc74b2a826f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80);
  "
>
  <div class="absolute bg-black opacity-60 inset-0 z-0"></div>
  <div class="w-full px-24 z-10">
    <h1 class="text-5xl font-bold text-left tracking-wide">Keep it special</h1>
    <p class="text-3xl my-4">Read and craft the pages of your book</p>
  </div>
  <div
    class="bottom-0 absolute p-4 text-center right-0 left-0 flex justify-center space-x-4"
  ></div>
</div>
